<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
</head>
<header>
<h1>My Todo List</h1>
</header>
<section>

    <div  class="tableheaderbox">
        <div class="tableheader">TASK</div>
        <div class="tableheader">STATUS</div>
        <div class="tableheader"></div>
    </div>

    <%@todos.each do |todo|%>
        <div class="item">
            <div class="iteminfo"  style="text-decoration:<%=todo.status == 2 ? "line-through" : "none"%>;"><%=todo.task%></div>

            <div class="iteminfo"  style="color:<%=todo.status == 2 ? "green" : "red"%>;"><%=["todo", "doing", "done"][todo.status]%></div>
            <div class="iteminfo">
                <%if todo.status == 0%>
                    <%=form_with model: todo, url: todo_url(todo), method: :patch, local: true do |f|%>
                    <%=f.number_field :status, value: 2, type: :hidden%>
                    <%=f.submit value: "Mark done"%>
                    <%end%>
                
                <%else%>
                    
                    <a rel="nofollow" href="<%=todo_url(todo)%>" data-method="delete"><i class="fas fa-trash-alt"></i></a>
                <%end%>
            </div>
        
        </div>
        
    <%end%>
</section>
<%=form_with model: @todo, local: true do |f|%>
    <%=f.text_field :task, required: true, placeholder: "Next task"%>
    <%=f.number_field :status, type: "hidden", value: 0, min: 0, max: 2%>
    <%=f.submit%>
<%end%>